<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>

<div th:each="entry : ${list}">
    <h2 th:text="${entry.room.name}"></h2>
    <table>
        <thead>
        <tr>
            <th>Device ID</th>
            <th>Device Name</th>
            <th>Device Count</th>
            <th>Device Wattage</th>
            <th>Monthly Consumption</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device : ${entry.deviceMap.entrySet()}">
            <td th:text="${device.key.id}"></td>
            <td th:text="${device.key.name}"></td>
            <th th:text="${device.value}"></th>
            <td th:text="${device.key.wattage}"></td>
            <td th:text="${device.key.wattage * device.value * 30}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>