<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div th:each="entry : ${devicesList}">
    <h2 th:text="${entry.room.name} "></h2>
    <table>
        <thead>
        <tr>
            <th>Device</th>
            <th>Count</th>
            <th>Wattage</th>
            <th>Total for device</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="device : ${devicesList.deviceMap.entrySet()}">
                <td th:text="${device.key.name}" class="device_name"></td>
                <td th:text="${device.value}"></td>
                <td th:text="${device.key.wattage}"></td>
                <td th:text="${device.value * device.key.wattage}" class="wattage"></td>
                <td>
                    <button th:id="${device.key.id+'DELETE'}" th:onclick="'deleteDevice(\'' + ${device.key.id} + '\', \'' + ${roomid} + '\')'">
                        Delete
                    </button>
                </td>
                <td>
                    <button th:id="${device.key.id+'EDIT'}" th:onclick="'editDevice(\'' + ${device.key.id} + '\', \'' + ${roomid} + '\')'">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div>
    <button id="addButton">Add Device</button>
    <select id="deviceDropdown"></select>
    <button id="confirmAdd">Confirm Add</button>
</div>

<div id="pieChart"></div>
<div>
    <label for="totalPower">Total Power Consumption:</label>
    <input type="text" id="totalPower" readonly>
</div>

    
</body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    function updateTotalPower() {
    var totalPower = 0;
    var rows = document.querySelectorAll('.wattage');
    rows.forEach(row => totalPower += parseInt(row.innerHTML));
    document.getElementById('totalPower').value = totalPower;
};

function getDevices() {
  return fetch('/devices', {
    method: 'GET'
  })
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .catch(err => {
      console.error('Error during fetching devices:', error);
    });
}

function updatePieChart(chartId) {
    const options = {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: ''
        },
        plotOptions: {
            pie: {
                depth: 45
            }
        },
        series: [{
            name: 'Total Power Consumption',
            data: [
            ]
        }]
    };
    
    const devices = document.getElementsByClassName("device_name");
    const wattages = document.getElementsByClassName("wattage");
    console.log(devices.length)
    for (let i = 0; i < devices.length; i++) {
        options.series[0].data.push({name: devices[i].innerHTML, y: parseInt(wattages[i].innerHTML)});
    }
    console.log(options);
    const chart = Highcharts.chart(chartId, options);
}


    window.onload=()=>{
        updateTotalPower();
        updatePieChart("pieChart");
        updateDropDown();
    };

    function deleteDevice(deviceId,roomid) {
        if (confirm('Are you sure you want to delete this device?')) {
            fetch('/rooms/' + roomid + '/delete-device/' + deviceId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    // You may need to include additional headers, such as authorization headers
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Handle the successful response (optional)
                console.log('Device deleted successfully');
                // Optionally, you can update the UI or refresh the page after successful deletion
            })
            .catch(error => {
                // Handle errors here
                console.error('Error during device deletion:', error);
            });
        }
        updateTotalPower();
    }

    function editDevice(deviceId,roomid) {
        var newValue = prompt('Enter the new value for the device:');

        if (newValue !== null) {
            fetch('/rooms/'+ roomid+ '/edit-device/' + deviceId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(newValue)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Device edited successfully');
            })
            .catch(error => {
                console.error('Error during device edit:', error);
            });
        }
        updateTotalPower()
    }

    document.getElementById('confirmAdd').addEventListener('click', function() {
        var selectedDeviceId = document.getElementById('deviceDropdown').value;
        if (selectedDeviceId) {
            // You can handle the selected device ID here (e.g., send it to the server)
            console.log('Selected Device ID:', selectedDeviceId);
            // Optionally, you can update the UI or refresh the page after successful add
            updateTotalPower();
        }
    });

    function updateDropDown() {
        const list = document.getElementById('deviceDropdown');
        let devices;
        
        fetch('/devices', {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then((data) => {
            console.log(devices)
            devices = data
            devices.forEach(device => {
                console.log(device)
                list.appendChild(new Option);
                list.lastChild.innerHTML = device.name;
                list.lastChild.setAttribute("value", device.id);
            })
        })
        .catch(err => {
        console.error('Error during fetching devices:', err);
        });
    }
    
</script>

</html>